[submodule "libtorrent-rasterbar"]
	path = libtorrent-rasterbar
	url = https://github.com/arvidn/libtorrent.git
[submodule "qbittorrent"]
	path = qbittorrent
	url = https://github.com/qbittorrent/qBittorrent.git
[submodule "Reflection"]
	path = Reflection
	url = https://github.com/h31/Reflection.git
