[submodule "qbittorrent"]
	path = qbittorrent
	url = https://github.com/qbittorrent/qBittorrent.git
	branch = v4_3_x
[submodule "libtorrent-rasterbar"]
	path = libtorrent-rasterbar
	url = https://github.com/arvidn/libtorrent.git
	branch = RC_1_2
