[submodule "qbittorrent"]
	path = qbittorrent
	url = https://github.com/qbittorrent/qBittorrent
[submodule "libtorrent-rasterbar"]
	path = libtorrent-rasterbar
	url = https://github.com/arvidn/libtorrent/
[submodule "qBittorrent"]
	path = qBittorrent
	url = https://github.com/qbittorrent/qBittorrent.git
[submodule "libtorrent"]
	path = libtorrent
	url = https://github.com/arvidn/libtorrent.git
